<nav class="navbar bg-dark border-bottom border-body d-flex justify-content-end pe-4" data-bs-theme="dark">
    <button class="btn btn-outline-light" (click)="signOut()">Sign Out</button>
</nav>
<div class="container home-container">
<div class="container d-flex justify-content-center pt-4" fluid>
    <div class="card" style="max-width: 420px;">
        <img src="../../assets/user.png" class="card-img-top" alt="..." style="max-height: 240px;">
        <div class="card-body">
            <p class="card-text text-center">Welcome {{ userName }}</p>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-center pt-4" fluid>
    <table class="table table-dark table-striped" style="max-width: 44rem;">
        <thead>
            <tr>
                <th scope="col">Sr.</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
            </tr>
        </tbody>
    </table>
</div>
</div>